.grid_container {
  justify-content: center;
  display: grid;
  grid-template-columns: 17% 17% 17% 17% 17%;
  grid-template-rows: 10em 10em 10em;
  grid-gap: 3em;
}

.dashboard_link div {
  height: 100%;
}

.dashboard_link {
  text-decoration: none;
}

#create_dashboard_btn {
  float: right;
  margin-top: -3.5em;
}

.container_div {
  margin: 3em;
}
