.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.75);
}

.modal-main {
  position: fixed;
  background: white;
  margin-top: 2em;
  width: 80%;
  height: 80%;
  top: 50%;
  left: 50%;
  overflow: auto;
  transform: translate(-50%, -50%);
}

.display-block {
  display: block;
}

.display-none {
  display: none;
}

.modal-main svg {
  font-size: 40px;
  position: fixed;
  right: 20px;
  top: 16px;
}

.modal-main svg:hover {
  cursor: pointer;
}

.modal-main h1 {
  margin: 1.25em 0 -0.6em 1.25em;
  color: #004299;
}

.modal-main h4 {
  margin: 2em 0 1em 2.5em;
}

.modal-main .metadata {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.metadata .line {
  margin-bottom: 0.4em;
}

.metadata .line b {
  text-align: right;
  width: 35%;
  display: inline-block;
}

.metadata .line span {
  text-align: left;
  width: 63%;
  display: inline-block;
  margin-left: 0.6em;
}

.modal-main p {
  margin-left: 1.2em;
}
